html,body {
	height: 100%;
	font-family: 'Poppins', sans-serif;
}

body.my-login-page {
	background-color: #f7f9fb;
	font-size: 14px;
}

.bg-site, .bg-btn{
    background-color: #003168!important;
    color: white!important;
}

a:hover{
    color: grey;
    font-weight: 400;
}


.logo-ads {
	border-radius: 5px;
	height: 44px;
	width: 80px;
}

a {
	text-decoration: none!important;
}

.my-login-page .brand {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}

.sidebar-icon {
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	border: 2px solid #dddddd;
	margin-right: 6px;
}

.service-icon {
	width: 80px!important;
	height: 80px!important;
	line-height: 80px!important;
	border-radius: 50%!important;
	border: 1px solid #003168!important;
	background: #ffffff!important;
}



.demo-layout.is-small-screen .demo-content .service-icon {
	width: 50px!important;
	height: 50px!important;
	line-height: 50px!important;
	border-radius: 50%!important;
	border: 1px solid #003168!important;
	background: #ffffff!important;
}

.btn{
	margin-bottom: 5px!important;
	font-size: 10px!important;
	/*width: 100%;*/
}

li {
  margin-top: 15px;
}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
    padding-right: 0;
    text-decoration: none !important;
}

.demo-ribbon {
  width: 100%;
  height: 40vh;
  align-content: center;
  align-items: center;
  background-color: #3F51B5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-container {
  max-width: 1000px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 1rem;
  padding: 80px 56px;
  margin-bottom: 80px;

}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 18px;
}

.demo-content h3 {
  margin-top: 48px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 14px;
}

.mdl-card {
  border-radius: 1rem!important;
  padding: 40px 28px!important;
  margin-bottom: 10px!important;
  margin-right: 0px;
  margin-left: 0px;

}

.mdl-card img {
    width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	border: 1px solid #dddddd;
}

.spacer{
	margin-bottom: 40px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 20px 0;
}























